@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        color: #0a0a0a;
        background-color: #e9a3a3;
        background-image: url('../../public/backfor.png');
        background-repeat: no-repeat;
        background-size: cover; /* Ensures the image covers the whole screen */
        background-attachment: fixed; /* Keeps the image fixed while scrolling */
        background-position: center; /* Centers the image */
    }
}

@layer components{
    .menuLink{
        @apply cursor-pointer hover:text-[#000];
    }
}